name: Pull Request

on: [pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        node:
          - 12

    runs-on: ${{ matrix.os }}

    name: Build on ${{ matrix.os }} with Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: |
          npm install

      - name: Build
        run: |
          npm run build

  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        node:
          - 12

    runs-on: ${{ matrix.os }}

    name: Test on ${{ matrix.os }} with Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup GitHub SSH
        uses: ./
        with:
          host: github.com
          private-key: ${{ secrets.SSH_PRIVATE_KEY_GITHUB }}

      - name: Clone GitHub repository
        run: |
          git clone git@github.com:MrSquaare/private-repository.git

      - name: Setup GitLab SSH
        uses: ./
        with:
          host: gitlab.com
          private-key: ${{ secrets.SSH_PRIVATE_KEY_GITLAB }}
          private-key-name: gitlab

      - name: Clone GitLab repository
        run: |
          rm -rf private-repository
          git clone git@gitlab.com:MrSquaare/private-repository.git
